.navbar {
  display: flex;
  background-color: #f8f9fa;
  top: 0;
  align-items: center;
  padding: 10px;
  left: 0;
  right: 0;
  height: 55px;
  z-index: 100;
  position: fixed;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #90929640;
}

.navbar__div {
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 16px;
}

.left__div {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 16px;
}

.class__select {
  display: flex;
  line-height: 1;
  padding-left: 22px;
  padding-right: 16px;
  border-radius: 4px;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 600;
  color: #228be6;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  height: 42px;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.search__div {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 16px;
  flex: 1 1 0%;
  border-radius: 10px;
  padding: 10px;
  width: max-content;
}

.search__box {
  left: 50%;
  right: 50%;
  top: 80%;
  width: 35%;
  text-align: center;
  height: 500px;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.searchbox__div {
  position: absolute;
  inset: 0px;
  overflow-y: auto;
  padding: 48px 16px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
}

.search__div {
  width: 150px;
}
@media only screen and (max-width: 1024px) and (min-width: 0px) {
  .responsive__div {
    display: visible;
  }
  .navbar__div {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .responsive__div {
    display: none;
  }
  .navbar__div {
    display: visible;
  }
}
/* @media only screen and (max-width: 1024px) {
  .navbar__div {
    display: none;
  }
  .menu__icons {
    display: visible;
  }
  .search__icon__button {
    display: visible;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar__div {
    display: visible;
  }
  .menu__icons {
    display: none;
  }
  .search__icon__button {
    display: none;
  }
} */
